<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
	  <h1>Revolutionary New Hemp Extract Concentrate Food Supplement</h1>
	  <p>For pain relief, nausea and sleeplesslessness. New hemp based oral supplement available in strip and drip form.</p>
	  <p><a class="btn btn-primary btn-lg" href="#myModal" data-toggle="modal">Free In Home Consultation</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
	  <h1>Deep Reparative Sleep</h1>
	  <p>Enabling reparative sleep is critical to healing and health.  Dissolve-Away Insomnia and Sleeplessness</p>
	  <p><a class="btn btn-large btn-primary" href="#">SLEEP</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
	  <h1>Dissolve Away Nausea</h1>
	  <p>Eating healthy is key to recovery and wellness. Enables natural appetite</p>
	  <p><a class="btn btn-large btn-primary" href="#">EAT</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
