<!DOCTYPE html>
<html lang="en">
  <head id="html-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="stop suffering starting living with hemp based food product">
    <meta name="author" content="patientcomfortreferral.com">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>Dissolve Away</title>
    <!-- Bootstrap core CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Nosifer|Syncopate|Combo|Irish+Grover|Simonetta|Monoton|Bowlby+One|Londrina+Shadow|Aclonica|Italiana|Roboto|Hammersmith+One|Faster+One' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet"> 
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
  <body>
    <!-- TOP BANNER -->
    <div class="container top" id="top-banner">
      <div class="row">
	<section id="doctor-referral" class="col-md-4"><br/>
	  <h2>Free Doctor Referrals Available</h2>
	  <h3 id="phone_number">&nbsp Call: (555)555-5555</h3>
	</section>
	<aside class="col-md-8">
	  <div class="alert alert-error" style="display:none">
	    <strong>Ooops!</strong> Try again
	  </div>
	  <div class="alert alert-success" style="display:none">
	    <strong>Success!</strong> You passed the validation.
	  </div>
	  <form role="form" id="top-form" class="form-inline">
	    <fieldset>
	      <legend>Call Now for Free Delivery</legend>
	      <label>Name</label><input id="header_lead_full_name" type="text" class="required"/>
	      <label>Email</label><input id="header_lead_email" type="text" class="required email"/>
	      <label>Phone</label><input id="header_lead_phone" type="text" class="required phoneUS"/>
	      <input type="submit" id="header_lead-form-submit"  value="Go" class="lead-btn"/>
	    </fieldset>
	  </form>
	</aside>
      </div>
    </div> <!-- END TOP BANNER -->
    <div class="container">
      <div class="row logo">
	<div class="col-md-2">
	  <img src="/img/dissolve-away.png"/>
	</div>
	<div class="col-md-4"></div>
	<!-- MARKET MESSAGE -->
	<div class="col-md-6">
	  <div class="container marketing" id="market-message">
	    <div class="row">
	      <h2 id="varities">Available in three varities.</h2>
	    </div>
	    <div class="row">
	      <div class="col-sm-6 col-md-3">
		<h3>Mint Strips</h3>
		<img class="img-circle" src="/img/strips.png" alt="oral strip">
	      </div>
	      <div class="col-sm-6 col-md-3">		
		<h3>Extract Drops</h3>
		<img class="img-circle"  src="/img/drops.png"  alt="dropper bottle">
	      </div>
	      <div class="col-sm-6 col-md-3">
		<h3>Chocolates</h3>
		<img  class="img-circle" src="/img/chocolate-lozenge-150x150.jpg" alt="Chocolate Lozenge">
	      </div>
	    </div>
	    <div class="row  keypoints">
	      <h2>Help relieve:</h2>
	      <ul>
		<li><a data-toggle="modal" href="#leadModal" class="btn btn-primary btn-lg">Pain</a></li>
		<li><a data-toggle="modal" href="#leadModal" class="btn btn-primary btn-lg">Nausea</a></li> 
		<li><a data-toggle="modal" href="#leadModal" class="btn btn-primary btn-lg">Sleeplessness.</a></li>
	      </ul>
	    </div>
	  </div>  <!-- END MARKET MESSAGE -->
	</div>
      </div>
    </div>
    <footer>
      <div class="container bottom">
	<aside class="col-md-8 row">
	  <div class="alert alert-error" style="display:none">
	    <strong>Ooops!</strong> Try again
	  </div>
	  <div class="alert alert-success" style="display:none">
	    <strong>Success!</strong> You passed the validation.
	  </div>
	  <form  role="form" id="bottom-form" class="form-inline">
	    <fieldset>
	      <legend>Call Now for Free Delivery</legend>
	      <label for="name">Name</label><input id="bottom_lead_full_name" type="text" class="required" name="name">
	      <label for="email">Email</label><input id="bottom_lead_email" type="text" class="required" name="email">
	      <label for="phone">Phone</label><input id="bottom_lead_phone" type="text" class="required" name="phone">
	      <input type="submit" id="bottom_lead-form-submit"  value="Go" class="lead-btn">
	    </fieldset>
	  </form>
	</aside>
	<section id="doctor-referral" class="col-md-4"><br/>
	  <h2>Free Doctor Referrals Available</h2>
	  <h3 id="phone_number">&nbsp Call: (555)555-5555</h3>
	</section>
	<div class="row" id="terms">
	  <p><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</div>
      </div>
    </footer>
    <!-- MODAL -->
    <div class="modal fade" id="leadModal" tabindex="-1" role="dialog" aria-labelledby="leadModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
	    <div class="alert alert-error" style="display:none">
	      <strong>Ooops!</strong> Try again
	    </div>
	    <div class="alert alert-success" style="display:none">
	      <strong>Success!</strong> You passed the validation.
	    </div>
	    <form  id="modal-form" class="form-horizontal" role="form">
	      <fieldset>
		<label for="modal_name">Name:</label><input id="modal_name" type="text" class="required" name="modal_name">
		<label for="modal_email">Email:</label><input id="modal_mail" type="text" class="required" name="modal_email">
		<label for="modal_phone">Phone:</label><input id="modal_phone" type="text" class="required" name="modal_phone">
	      </fieldset>
	    </form>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-primary">For Free Delivery</button>
	    </div>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main-debug.js"></script>
  </body>
</html>

