<html lang="en">
  <head>
    <title>Dissolve Away Pain</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title id="site-title"></title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/dissolve-away.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!--    <link rel="shortcut icon" href="/images/favicon.ico"> -->

    <style id="cms-css"></style>
    <link href='http://fonts.googleapis.com/css?family=Nosifer|Syncopate|Combo|Irish+Grover|Simonetta|Monoton|Bowlby+One|Londrina+Shadow|Aclonica|Italiana|Roboto|Hammersmith+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="container-fluid">
      <header class="page-header span12"><h1>Dissolve Away</h1></header>
      <aside id="side-lead-form" class="box">
	<div> 
	  <div class="alert alert-error" style="display:none">
	    <strong>Ooops!</strong> Try again
	  </div>
	  <div class="alert alert-success" style="display:none">
	    <strong>Success!</strong> You passed the validation.
	  </div>
	  <form id="lead_form"  autocomplete="on" method="POST" action="lead">
	    <fieldset>
	      <legend>
		<h5>Submit your information now for a free in home consultation offer</h5>
	      </legend>
	      <label>Name</label><input id="lead_full_name" type="text"  class="required"/>
	      <label>Email</label><input id="lead_email" type="text"  class="required email"/>
	      <label>Phone</label><input id="lead_phone" type="text"  class="required phoneUS"/>
	      <span><input id="lead_newsletter" type="checkbox" checked=true><h5>Free Newsletter</h5></span>
	      <input type="submit" id="lead-form-submit"  value="Go" class="lead-btn"/>
	      <a href="#terms_and_conditions_modal" data-toggle="modal">&nbsp Terms and Conditions</a>
	    </fieldset>
	  </form>
	</div>	    
      </aside>
      <section class="hero-unit banner">
	<h2>Revolutionary New Hemp Extract Concentrate Food Supplement</h2>
	<p>For pain relief, nausea and sleeplesslessness. New hemp based oral supplement available in strip and drip form.</p><br/>
	<p><a id="lead" href="build#" class="btn btn-primary btn-large">Learn more</a></p>
      </section>
      <div class="row-fluid">
	<section class="span2 box">
	  <h2>Free Doctor Referral</h2>
	  <p>With $100.00 order</p>
	</section>
	<div class="span6">
	  <section class="hero-unit">
	    <h1>Feel Better Now!</h1>
	    <p><a href="build#" class="btn btn-primary btn-large">Free In Home Consultation</a></p>
	    <div id="location"></div>
	    <div id="keyup"></div>
	  </section>
	</div>
	<div class="span4 box">
	  <section>
	    <h2>Schedule An Appointment</h2>
	    <p>Call Now or email to schedule an appointment </p>
	    <p><a href="build#" class="btn"></a></p>
	  </section>
	</div>
      </div>
    </div>
    <script src="/js/modernizr-2.6.2.min.js"></script> 
    <script src="/js/jquery.min.js"></script> 
    <script src="/js/main.js"></script> 
  </body>
</html>
