<!DOCTYPE html>
<html lang="en">
  <head id="html-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="stop suffering starting living with hemp based food product">
    <meta name="author" content="patientcomfortreferral.com">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>Dissolve Away</title>
    <!-- Bootstrap core CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Nosifer|Syncopate|Combo|Irish+Grover|Simonetta|Monoton|Bowlby+One|Londrina+Shadow|Aclonica|Italiana|Roboto|Hammersmith+One|Faster+One' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet"> 
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
  <body>
    <div class="container marketing" id="market-message">
      <div class="row">
	<h2 id="varities">Available in three varities.</h2>
      </div>
      <div class="row">
	<div class="col-sm-6 col-md-3">
	  <h3>Mint Strips</h3>
	  <img class="img-circle" src="/img/strips.png" alt="oral strip">
	</div>
	<div class="col-sm-6 col-md-3">		
	  <h3>Extract Drops</h3>
	  <img class="img-circle"  src="/img/drops.png"  alt="dropper bottle">
	</div>
	<div class="col-sm-6 col-md-3">
	  <h3>Chocolates</h3>
	  <img  class="img-circle" src="/img/chocolate-lozenge-150x150.png" alt="Chocolate Lozenge">
	</div>
      </div>
      <div class="row  keypoints">
	<h2>Help relieve:</h2>
	<ul>
	  <li><a data-toggle="modal" href="#leadModal" class="btn btn-primary btn-lg">Pain</a></li>
	  <li><a data-toggle="modal" href="#leadModal" class="btn btn-primary btn-lg">Nausea</a></li> 
	  <li><a data-toggle="modal" href="#leadModal" class="btn btn-primary btn-lg">Sleeplessness.</a></li>
	</ul>
      </div>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/main-debug.js"></script>
  </body>
</html>
