<nav class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a id="navbar-brand" href="#">Dissolve Away</a>
        </div>
        <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li class="active"><a href="#">Pain</a></li>
	    <li><a href="#about">Insomnia</a></li>
	    <li><a href="#contact">Nausea</a></li>
	  </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
