<!DOCTYPE html>
<html lang="en">
  <head id="html-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>Thank you for you interest in Dissolve Away</title>
    <!-- Bootstrap core CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="../../assets/js/html5shiv.js"></script>
	<script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Nosifer|Syncopate|Combo|Irish+Grover|Simonetta|Monoton|Bowlby+One|Londrina+Shadow|Aclonica|Italiana|Roboto|Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
  </head>

  <body>
    <p id="persons-name">Bob</p><br/>
    <p>Thank you for your interest - one of our representatives will be contacting you shortly.</p>
    <!-- Google Code for pcs lead Conversion Page -->
    <script type="text/javascript">
      /* <![CDATA[ */
var google_conversion_id = 998141555;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "XsyICM2gsQgQ89z52wM";
var google_conversion_value = 0;
/* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/998141555/?value=0&amp;label=XsyICM2gsQgQ89z52wM&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
    <script>
      setTimeout(function(){ window.location.href= "http://www.patientcomfortreferral.com"}, 6000);
      </script>
  </body>
</html>
